@{
    ViewData["Title"] = "Calculator";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Hobby</title>
</head>
<body>
    <h1>Estimate Calculator</h1>
    <br />
    <p>Do you struggle figuring out which burger joints offer the best shakes? No sweat! My training will have you tasting like a pro in no time.</p>
    <form>
        <input type="text" value="Rate: $20 per hour" id="rate" readonly>
        <br />
        <label>How many tutoring hours do you need?</label>
        <input id="numHours" />
        <br /><br />
        <input type="button" value="Get a quote" id="btnSubmit"/>
        <br />
        <br />
        <div id="output"></div>
        <br />
        <img src="~/shake1.jpg" width="30%" alt="Calc image">
        <br /><br /><br />
    </form>
</body>
</html>
