@{
    ViewData["Title"] = "Calculator";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Hobby</title>
</head>
<body>
    <h1>Charge Calculator</h1>
    <form>
        <input type="text" value="Rate: $20 per hour" id="rate" readonly>
        <br />
        <label>How many tutoring hours do you need?</label>
        <input id="numHours" />
        <br />
        <input type="button" value="Get a quote" id="btnSubmit"/>
        <br />
        <br />
        <div id="output">
            <img src="" alt="Calc image">
        </div>
        
    </form>
    

</body>
</html>
