@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Hobby</title>
</head>
<body>
    <h1>I love taste-testing milkshakes</h1>
    <p>Milkshakes are one of my all-time favorite desserts. I like ordering a restuarnt's chocolate shake and comparing it 
        to ones I've had at other joints. Here are some of my favorites:</p>
        <br />
    <div>
        <h2>Five Guys Burger and Fries</h2>
        <p>Five Guys makes a fantastic shake that is rich, smooth, and tasty. The shake is a bit expensive, but it's defintely worth the cash!</p>
        <img src="~/fgshake.webp" width="20%" alt="Five Guys">
        <br /><br />
        <h2>Burgerville</h2>
        <p>Burgerville also has a fabulous chocolate shake made with real hazelnuts! Unfortuantely, Burgerville is only available in Oregon.</p>
        <img src="~/bvshake.jpg" width="20%" alt="Burgerville">
        <br /><br />
        <h2>Burger King</h2>
        <p>Even though Burger King isn't known for its quality, they make a mean shake. The whipped cream on top is strangely addicting.</p>
        <img src="~/bkshake.jpg" width="20%" alt="Burger King">
    </div>
    <br />
    <br />
</body>
</html>