@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Hobby</title>
</head>
<body>
    <h1>I love taste-testing milkshakes</h1>
    <p>Milkshakes are one of my all-time favorite desserts. I like ordering a restuarnt's chocolate shake and comparing it to ones I've had at other joints.</p>
    <img src="shake1.jpg" height=200 alt="Milkshake image">

</body>
</html>